{{ define "extra_head" }}
{{ $webPage := dict
  "@context" "https://schema.org"
  "@type" "WebPage"
  "name" (.Params.seo_title | default .Title)
  "url" .Permalink
  "description" .Description
  "inLanguage" "fi"
  "isPartOf" (dict
    "@type" "WebSite"
    "name" .Site.Title
    "url" .Site.BaseURL
  )
}}
<script type="application/ld+json">
{{ $webPage | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{ end }}

{{ define "main" }}
<article class="single-article holiday-hours-capture">
  <p class="holiday-hours-capture__eyebrow">Pyhäpäivien kaupat auki</p>
  <h1>{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
  <p class="holiday-hours-capture__back"><a href="/oppaat/kauppojen-aukioloajat/">Kauppojen aukiolo-opas ja sen tarkistustilanne</a></p>
</article>
{{ end }}
