{{- $siteName := .Site.Params.shortTitle | default "Uutistenlukija" -}}
{{- $coreTitle := "" -}}
{{- $fullTitle := "" -}}
{{- $pageSuffix := "" -}}
{{- $paginator := false -}}
{{- if and (eq .Kind "taxonomy") (eq .Data.Plural "tags") -}}
  {{- $paginator = .Paginate (.Pages.ByTitle) -}}
{{- else if or .IsHome .IsSection (eq .Kind "taxonomy") (eq .Kind "term") -}}
  {{- $paginator = .Paginator -}}
{{- end -}}
{{- with $paginator -}}
  {{- if gt .PageNumber 1 -}}
    {{- $pageSuffix = printf " – sivu %d" .PageNumber -}}
  {{- end -}}
{{- end -}}
{{- if .Params.seo_title -}}
  {{- $seoTitle := .Params.seo_title | plainify -}}
  {{- $seoWithPage := printf "%s%s" $seoTitle $pageSuffix -}}
  {{- if or (findRE `\|\s*` $seoTitle 1) (findRE `–\s*` $seoTitle 1) (findRE `—\s*` $seoTitle 1) (in ($seoTitle | lower) ($siteName | lower)) -}}
    {{- $fullTitle = $seoWithPage -}}
  {{- else -}}
    {{- $fullTitle = printf "%s | %s" $seoWithPage $siteName -}}
  {{- end -}}
{{- else if .IsHome -}}
  {{- $fullTitle = printf "%s%s" .Site.Title $pageSuffix -}}
{{- else -}}
  {{- $coreTitle = partial "page-title-core.html" . -}}
{{- end -}}
{{- if not $fullTitle -}}
  {{- $coreTitle = printf "%s%s" $coreTitle $pageSuffix -}}
  {{- $fullTitle = printf "%s | %s" $coreTitle $siteName -}}
{{- end -}}
{{- return $fullTitle -}}
