{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "inLanguage": "fi-FI",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": {{ print .Site.BaseURL "?s={search_term_string}" | jsonify }}
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
{{- else if .IsPage -}}
{{- $image := "" -}}
{{- with .Params.image -}}
  {{- $image = print $.Site.BaseURL (strings.TrimPrefix "/" .) -}}
{{- else -}}
  {{- $image = print $.Site.BaseURL "images/og-image.png" -}}
{{- end -}}
{{- $desc := "" -}}
{{- with .Description -}}
  {{- $desc = . -}}
{{- else -}}
  {{- $desc = .Summary | plainify | truncate 155 -}}
{{- end -}}
{{- $datePublished := .Date.Format "2006-01-02T15:04:05+00:00" -}}
{{- $dateModified := .Lastmod.Format "2006-01-02T15:04:05+00:00" -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "headline": {{ .Title | jsonify }},
  "description": {{ $desc | jsonify }},
  "image": {
    "@type": "ImageObject",
    "url": {{ $image | jsonify }},
    "width": 1024,
    "height": 576
  },
  "datePublished": {{ $datePublished | jsonify }},
  "dateModified": {{ $dateModified | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ with .Params.author }}{{ . | jsonify }}{{ else }}{{ $.Site.Params.author | jsonify }}{{ end }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ print .Site.BaseURL "images/logo.png" | jsonify }},
      "width": 400,
      "height": 60
    }
  },
  "inLanguage": "fi-FI"{{- with .Params.categories -}},
  "articleSection": {{ index . 0 | jsonify }}
  {{- end }}
}
</script>
{{- end -}}
